@charset "UTF-8";
/* CSS Document */

/*
〜〜〜　初期リセット 〜〜〜　*/
html {
	font-size: 14px;
}

html *,
::before,
::after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/*
〜〜〜　全体ブロック 〜〜〜　*/
#wapper {
	max-width: 960px;
	height: 1615px;
}

/*
〜〜〜　ヘッダーブロック 〜〜〜　*/
#fbloom_header {
	max-width: 960px;
	height: 200px;
}

.logo {
	margin: 10px 0 0 20px;
}

@media (max-width: 768px){
	.logo {
		width: 20%;
		height: auto;
	}
}

/*
〜〜〜　ナビブロック 〜〜〜　*/
#fbloom_nav {
	position: absolute;
	top: 20px;
	left: 260px;
	display: flex;
	align-items: center;
	max-width: 53vw;
	justify-content: space-between;
}

@media (max-width: 768px) {
	#fbloom_nav {
		position: absolute;
		right: 90%;
	}
}

/*
〜〜〜　テキストの説明文 〜〜〜　*/
.nav_info {
	display: block;
	font-size: 1rem;
	font-family: "MS Serif", "New York", "serif";
	letter-spacing: 0.3rem;
}

@media (max-width: 768px) {
	.nav_info {
		font-size: 40%;
	}
}

/*
〜〜〜　SNSボタン 〜〜〜　*/
.sns_block {
	margin-left: 18vw;
	display: flex;
}

@media (max-width: 768px) {
	.sns_block{
		width: 30%;
		position: absolute;
		left: 100px;
	}
}

img.sns_logo {
	margin-left: 20px;
}

img.sns_logo:hover {
	opacity: 0.5;
}

/*
〜〜〜　ナビゲーションリンク 〜〜〜　*/
#header_navlink {
	position: absolute;
	top: 80px;
	left: -70px;
	max-width: 60vw;
}

#header_navlink > li {
	flex: 0 0 20%;
}

.nav_link_text {
	list-style: none;
	display: flex;
}

.link_text_nav {
	font-size: 2rem;
    padding-left: 30px;
	font-family: Avenir, "Helvetica neue", Helvetica, YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	letter-spacing: 0.3rem;
}

@media (max-width: 768px) {
	.link_text_nav {
	font-size: 1rem;
	}
}

.nav_a {
	text-decoration: none;
	color: #3A3A3A;
	position: relative;
  	display: inline-block;
}

.nav_a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.nav_a:hover {
	color: #989898;
}

.nav_a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

/*
〜〜〜　メインブロック 〜〜〜　*/

#main_contents {
	max-width: 960px;
	height: auto;
}

#fancy_image {
	max-width: 960px;
	height: 500px;
	margin: 50px 0 50px;
}

#fancy_image h2 {
	text-align: center;
	letter-spacing: 0.3rem;
	margin: 50px 0 50px;
	color: #4689FF;
}

#fancy_image p {
	text-align: center;
	letter-spacing: 0.2rem;
	line-height: 3;
}

.main_image {
	display: flex;
	justify-content: space-around;
}

/*
〜〜〜　プランのブロック 〜〜〜　*/
#plan_contents_block {
	max-width: 960px;
	height: 400px;
}

.font_top {
	font-size: 4rem;
	text-align: center;
	margin: 50px 0 50px;
	padding-top: 20px;
	letter-spacing: 0.5rem;
    font-family: fantasy;
    color: #333333;
}

.plan_block {
	max-width: 960px;
	height: auto;
	margin: 0 auto;
	margin: 50px 0 30px;
	display: flex;
	justify-content: space-around;
}

.plan_image_block {
	text-align: center;
}

.plan_image {
	margin: 0 auto;
}

.plan_image_block p {
	font-size: 1rem;
}

/*
〜〜〜　aboutのブロック 〜〜〜　*/
#about_block {
	max-width: 960px;
	height: 500px;
	background: #edf0f040;
}


.store_info {
	margin: 40px 0 10px;
}

.store_info p {
	text-align: center;
	font-size: 1.2rem;
	font-family: -webkit-pictograph;
	letter-spacing: 0.3rem;
}

/*
〜〜〜　フッターブロック 〜〜〜　*/

#fbloom_footer {
	max-width: 960px;
	height: 80px;
	background:#070707; 
}

.footer_block {
	max-width: 960px;
	display: flex;
	align-items: center;
	position: relative;
	top: 20px;
}

.footer_nav {
	display: flex;
	justify-content: space-between;
	width: 30vw;
	margin-left: 70px;
	list-style: none;
}

.footer_nav a {
	text-decoration: none;
}

.footer_nav li {
	font-size: 1rem;
	color: #fdfcfc;
}

.footer_p {
	color: #F9F9F9;
	width: 140px;
	font-size: 1rem;
	display: block;
	margin: 0 auto;
}

.sns_footer {
	display: flex;
	margin-right: 10%;
}

/*
〜〜〜　ページトップボタン 〜〜〜　*/
.pagetop {
	display: block;
	position: fixed;
	width: 50px;
	top: 450px;
	left: 850px;
}

/*
〜〜〜　コンタクトフォームページ 〜〜〜　*/
#contactpage_block {
	max-width: 960px;
	height: auto;
	margin-top: 50px;
}

#contactpage_block h2 {
	font-size: 2.5rem;
    text-align: center;
    margin: 50px 0 50px;
    padding-top: 20px;
    letter-spacing: 0.5rem;
    font-family: serif;
    color: #333333;
}

#contactpage_block p {
	text-align: center;
	font-family: serif;
	font-size: 1.1rem;
}

.contactform_block {
	width: 250px;
	height: auto;
	margin: 0 auto;
	padding: 10px 0 10px;
	letter-spacing: 0.2rem;
    line-height: 2;
    font-family: monospace;
}

/*
〜〜〜　余白設定 〜〜〜　*/
.mb_20 {
	margin-bottom: 20px;
}

