@charset "UTF-8";
/* CSS Document */

/*
〜〜〜　初期リセット 〜〜〜　*/
html {
	font-size: 14px;
}
html *,
::before,
::after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

#wapper {
	max-width: 960px;
	height: 1740px;
}

#fbloom_header {
	max-width: 960px;
	height: 200px;
}

.logo {
	margin: 10px 0 0 20px;
}

#fbloom_nav {
	position: absolute;
	top: 20px;
	left: 260px;
	display: flex;
	align-items: center;
	max-width: 53vw;
	justify-content: space-between;
}

.nav_info {
	display: block;
	font-size: 1.3rem;
}

@media (max-width: 768px) {
	.nav_info {
		font-size: 1rem;
	}
}

.sns_block {
	margin-left: 25vw;
	display: flex;
}

img.sns_logo {
	margin-left: 20px;
}

img.sns_logo:hover {
	opacity: 0.5;
}

#header_navlink {
	position: absolute;
	top: 70px;
	max-width: 60vw;
}

#header_navlink > li {
	flex: 0 0 20%;
}

.nav_link_text {
	list-style: none;
	display: flex;
}

.link_text_nav {
	font-size: 2.5rem;
    padding-left: 30px;
	font-family: Avenir, "Helvetica neue", Helvetica, YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

@media (max-width: 768px) {
	.link_text_nav {
	font-size: 1.5rem;
	}
}

.nav_a {
	text-decoration: none;
	color: #3A3A3A;
	position: relative;
  	display: inline-block;
}

.nav_a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.nav_a:hover {
	color: #989898;
}

.nav_a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}


/*
〜〜〜　プランのブロック 〜〜〜　*/
.contents_block {
	background: #A1A1A1;
	max-width: 960px;
	height: 400px;
}

.font_top {
	font-size: 4rem;
	text-align: center;
	margin: 50px 0 50px;
}

.plan_block {
	max-width: 960px;
	height: auto;
	margin: 0 auto;
	margin: 50px 0 30px;
	display: flex;
	justify-content: space-around;
	background: #F88C8E;
}

.plan_image_block {
	text-align: center;
}

.plan_image {
	margin: 0 auto;
}

.plan_image_block p {
	font-size: 1rem;
}

/*
〜〜〜　aboutのブロック 〜〜〜　*/

.store_info {
	margin: 40px 0 10px;
}

.store_info p {
	text-align: center;
	font-size: 1.2rem;
}

/*
〜〜〜　aboutのブロック 〜〜〜　*/








/*
〜〜〜　余白設定 〜〜〜　*/
.mb_10 {
	margin-bottom: 10px;
}





