@import "index.html"
@charset "UTF-8";
/* CSS Document */

// 全体の枠
#wapper {
	width: 960px;
	height: 1740px;
}

// ヘッダーブロック
#fbloom_header {
	width: 960px;
	height: 200px;
}

.logo {
	margin: 10px 0 0 20px;
}

// ロゴ右側のナビブロック
#fbloom_nav {
	position: absolute;
	top: 20px;
	left: 260px;
	display: flex;
	align-items: center;
	width: 60vw;
	justify-content: space-between;
}

// トップの営業情報
.nav_info {
	display: block;
	font-size: 18px;
}

// SNSブロックのリンク
.sns_block {
	margin-left: 20px;
}

// アイコンの余白調整
img.sns_logo {
	padding-left: 15px;
}

#header_navlink {
	position: absolute;
	top: 70px;
	top: 70px;
	right: 35px;
	width: 60vw;
}

.nav_link_text {
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
}

.link_text_nav {
	
}


