@import "index.html"
@charset "UTF-8";
/* CSS Document */

#wapper {
	width: 960px;
	height: 1740px;
}

#fbloom_header {
	width: 960px;
	height: 200px;
}

.logo {
	margin: 10px 0 0 20px;
}

#fbloom_nav {
	position: absolute;
	top: 20px;
	left: 260px;
	display: flex;
	align-items: center;
	width: 60vw;
	justify-content: space-between;
}

.nav_info {
	display: block;
	font-size: 18px;
}

.sns_iconblock {
	
}

img.sns_logo {
	padding-left: 15px;
}



